In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

obesity_data = pd.read_csv('data/Obesity_Percents.csv')
obesity_data.head()

  State    County  PCT_OBESE_ADULTS08  PCT_OBESE_ADULTS13
0    KS     Allen                31.4                34.2
1    KS  Anderson                29.6                33.3
2    KS  Atchison                31.6                33.1
3    KS    Barber                30.8                36.7
4    KS    Barton                31.3                35.4

In [2]:
obesity_data_df = pd.DataFrame(obesity_data)
obesity_data_df.head()

  State    County  PCT_OBESE_ADULTS08  PCT_OBESE_ADULTS13
0    KS     Allen                31.4                34.2
1    KS  Anderson                29.6                33.3
2    KS  Atchison                31.6                33.1
3    KS    Barber                30.8                36.7
4    KS    Barton                31.3                35.4

In [3]:
# #Calculate the change per year
# yearly_change = obesity_data_df(['PCT_OBESE_ADULTS13'] - ['PCT_OBESE_ADULTS08']) / 5
# yearly_change

In [4]:
#Convert lists to numeric data
pct_08 = pd.to_numeric(obesity_data_df['PCT_OBESE_ADULTS08'])
pct_13 = pd.to_numeric(obesity_data_df['PCT_OBESE_ADULTS13'])
pct_13.head()

0    34.2
1    33.3
2    33.1
3    36.7
4    35.4
Name: PCT_OBESE_ADULTS13, dtype: float64

In [5]:
#Calculate the change per year
yearly_change = (pct_13 - pct_08) / 5
yearly_change.head()

0    0.56
1    0.74
2    0.30
3    1.18
4    0.82
dtype: float64

In [6]:
#Calculate the obesity percents for 2009
PCT_OBESE_ADULTS09 = pct_08 + yearly_change
PCT_OBESE_ADULTS09.head()

0    31.96
1    30.34
2    31.90
3    31.98
4    32.12
dtype: float64

In [7]:
#Calculate the obesity percents for 2014
PCT_OBESE_ADULTS14 = pct_13 + yearly_change
PCT_OBESE_ADULTS14.head()

0    34.76
1    34.04
2    33.40
3    37.88
4    36.22
dtype: float64

In [8]:
#Create dataframe for 2009 data
df1 = PCT_OBESE_ADULTS09.to_frame()
df1.columns = ['PCT_OBESE_ADULTS09']
df1.head()

   PCT_OBESE_ADULTS09
0               31.96
1               30.34
2               31.90
3               31.98
4               32.12

In [9]:
#Create dataframe for 2014 data
df2 = PCT_OBESE_ADULTS14.to_frame()
df2.columns = ['PCT_OBESE_ADULTS14']
df2.head()

   PCT_OBESE_ADULTS14
0               34.76
1               34.04
2               33.40
3               37.88
4               36.22

In [10]:
#Merge the dataframes
obes_data_df = obesity_data_df.merge(df1, left_index = True, right_index = True)
obese_data_df = obes_data_df.merge(df2, left_index = True, right_index = True)
obese_data_df.head()

,State,County,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_OBESE_ADULTS09,PCT_OBESE_ADULTS14
0,KS,Allen,31.4,34.2,31.96,34.76
1,KS,Anderson,29.6,33.3,30.34,34.04
2,KS,Atchison,31.6,33.1,31.90,33.40
3,KS,Barber,30.8,36.7,31.98,37.88
4,KS,Barton,31.3,35.4,32.12,36.22

In [11]:
obese_data_df.to_csv('cleaned_data/obese_data_converted_09_14.csv', index=False)