In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

health_data = pd.read_csv('data/health_tab.csv')
obesity_data_df = health_data[['FIPS', 'State', 'County', 'PCT_OBESE_ADULTS08', 'PCT_OBESE_ADULTS13']]
obesity_data_df.head()

   FIPS State   County  PCT_OBESE_ADULTS08  PCT_OBESE_ADULTS13
0  1001    AL  Autauga                31.5                34.1
1  1003    AL  Baldwin                26.2                27.4
2  1005    AL  Barbour                37.6                44.4
3  1007    AL     Bibb                32.3                40.3
4  1009    AL   Blount                31.9                34.6

In [2]:
#pct_08 = pd.to_numeric(obesity_data_df[['PCT_OBESE_ADULTS13', 'PCT_OBESE_ADULTS08']])
pct_08 = pd.to_numeric(obesity_data_df['PCT_OBESE_ADULTS08'])
pct_13 = pd.to_numeric(obesity_data_df['PCT_OBESE_ADULTS13'])
pct_08.head()

0    31.5
1    26.2
2    37.6
3    32.3
4    31.9
Name: PCT_OBESE_ADULTS08, dtype: float64

In [3]:
yearly_change = (pct_13 - pct_08) / 5
yearly_change.head()

0    0.52
1    0.24
2    1.36
3    1.60
4    0.54
dtype: float64

In [4]:
PCT_OBESE_ADULTS07 = pct_08 - yearly_change
PCT_OBESE_ADULTS07.head()

0    30.98
1    25.96
2    36.24
3    30.70
4    31.36
dtype: float64

In [5]:
PCT_OBESE_ADULTS12 = pct_13 - yearly_change
PCT_OBESE_ADULTS12.head()

0    33.58
1    27.16
2    43.04
3    38.70
4    34.06
dtype: float64

In [6]:
df1 = PCT_OBESE_ADULTS07.to_frame()
df1.columns = ['PCT_OBESE_ADULTS07']
df1.head()

   PCT_OBESE_ADULTS07
0               30.98
1               25.96
2               36.24
3               30.70
4               31.36

In [7]:
df2 = PCT_OBESE_ADULTS12.to_frame()
df2.columns = ['PCT_OBESE_ADULTS12']
df2.head()

   PCT_OBESE_ADULTS12
0               33.58
1               27.16
2               43.04
3               38.70
4               34.06

In [8]:
obes_data_df_07_12 = obesity_data_df.merge(df1, left_index = True, right_index = True)
obese_data_df_07_12 = obes_data_df_07_12.merge(df2, left_index = True, right_index = True)
obese_data_df_07_12.head()

,FIPS,State,County,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_OBESE_ADULTS07,PCT_OBESE_ADULTS12
0,1001,AL,Autauga,31.5,34.1,30.98,33.58
1,1003,AL,Baldwin,26.2,27.4,25.96,27.16
2,1005,AL,Barbour,37.6,44.4,36.24,43.04
3,1007,AL,Bibb,32.3,40.3,30.70,38.70
4,1009,AL,Blount,31.9,34.6,31.36,34.06

In [9]:
obese_data_df_07_12.to_csv('cleaned_data/08_13_obese_data_converted_07_12.csv', index=False)

## Convert to 2009 and 2014

In [10]:
PCT_OBESE_ADULTS09 = pct_08 + yearly_change
df3 = PCT_OBESE_ADULTS09.to_frame()
df3.columns = ['PCT_OBESE_ADULTS09']
df3.head()

   PCT_OBESE_ADULTS09
0               32.02
1               26.44
2               38.96
3               33.90
4               32.44

In [11]:
PCT_OBESE_ADULTS14 = pct_13 + yearly_change
df4 = PCT_OBESE_ADULTS14.to_frame()
df4.columns = ['PCT_OBESE_ADULTS14']
df4.head()

   PCT_OBESE_ADULTS14
0               34.62
1               27.64
2               45.76
3               41.90
4               35.14

In [12]:
obes_data_df_09_14 = obesity_data_df.merge(df3, left_index = True, right_index = True)
obese_data_df_09_14 = obes_data_df_09_14.merge(df4, left_index = True, right_index = True)
obese_data_df_09_14.head()

,FIPS,State,County,PCT_OBESE_ADULTS08,PCT_OBESE_ADULTS13,PCT_OBESE_ADULTS09,PCT_OBESE_ADULTS14
0,1001,AL,Autauga,31.5,34.1,32.02,34.62
1,1003,AL,Baldwin,26.2,27.4,26.44,27.64
2,1005,AL,Barbour,37.6,44.4,38.96,45.76
3,1007,AL,Bibb,32.3,40.3,33.90,41.90
4,1009,AL,Blount,31.9,34.6,32.44,35.14

In [13]:
obese_data_df_09_14.to_csv('cleaned_data/08_13_obese_data_converted_09_14_US.csv', index=False)